//==============================================================================
// Helpers - Pad
//==============================================================================
.pad-xxl  { padding: $spacing-xxl !important; }
.pad-xl   { padding: $spacing-xl !important;  }
.pad-lg   { padding: $spacing-lg !important;  }
.pad      { padding: $spacing !important;     }
.pad-sm   { padding: $spacing-sm !important;  }
.pad-xs   { padding: $spacing-xs !important;  }
.pad-xxs  { padding: $spacing-xxs !important; }
.pad-none { padding: 0 !important;            }

.pad-left-xxl  { padding-left: $spacing-xxl !important; }
.pad-left-xl   { padding-left: $spacing-xl !important;  }
.pad-left-lg   { padding-left: $spacing-lg !important;  }
.pad-left      { padding-left: $spacing !important;     }
.pad-left-sm   { padding-left: $spacing-sm !important;  }
.pad-left-xs   { padding-left: $spacing-xs !important;  }
.pad-left-xxs  { padding-left: $spacing-xxs !important; }
.pad-left-none { padding-left: 0 !important;            }

.pad-right-xxl  { padding-right: $spacing-xxl !important; }
.pad-right-xl   { padding-right: $spacing-xl !important;  }
.pad-right-lg   { padding-right: $spacing-lg !important;  }
.pad-right      { padding-right: $spacing !important;     }
.pad-right-sm   { padding-right: $spacing-sm !important;  }
.pad-right-xs   { padding-right: $spacing-xs !important;  }
.pad-right-xxs  { padding-right: $spacing-xxs !important; }
.pad-right-none { padding-right: 0 !important;            }

.pad-bottom-xxl  { padding-bottom: $spacing-xxl !important; }
.pad-bottom-xl   { padding-bottom: $spacing-xl !important;  }
.pad-bottom-lg   { padding-bottom: $spacing-lg !important;  }
.pad-bottom      { padding-bottom: $spacing !important;     }
.pad-bottom-sm   { padding-bottom: $spacing-sm !important;  }
.pad-bottom-xs   { padding-bottom: $spacing-xs !important;  }
.pad-bottom-xxs  { padding-bottom: $spacing-xxs !important; }
.pad-bottom-none { padding-bottom: 0 !important;            }

.pad-top-xxl  { padding-top: $spacing-xxl !important; }
.pad-top-xl   { padding-top: $spacing-xl !important;  }
.pad-top-lg   { padding-top: $spacing-lg !important;  }
.pad-top      { padding-top: $spacing !important;     }
.pad-top-sm   { padding-top: $spacing-sm !important;  }
.pad-top-xs   { padding-top: $spacing-xs !important;  }
.pad-top-xxs  { padding-top: $spacing-xxs !important; }
.pad-top-none { padding-top: 0 !important;            }