<div layout="row"
     layout-align="space-between center">
  <md-input-container class="md-block" flex>
    <label>City</label>
    <input required
           name="city"
           ng-model="options.search"
           ng-change="search()"
           ng-model-options="{debounce: 400}" />
  </md-input-container>
</div>

<div layout="column"
     layout-sm="column"
     layout-align="space-around center">
  <md-progress-circular
      class="md-accent"
      md-diameter="90"
      md-mode="indeterminate"
      ng-show="fetching">
  </md-progress-circular>
</div>

<div layout="row">
  <md-list class="md-dense" flex>
    <md-list-item
        class="md-3-line md-long-text"
        ng-repeat="event in events">
      <!-- <img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}" /> -->
      <div class="md-list-item-text">
        <h3> Name: {{event.name}} </h3>
        <h4> Starts: {{event.start_time | dateFilter}} </h4>
        <p sanitized="event.description"></p>
      </div>
    </md-list-item>
  </md-list>
</div>