<section id="home">
  <div layout="row"
       layout-align="center none">
    <md-input-container
        class="md-block push-top-xl"
        flex="90">

      <label>Search for an event near you</label>
      <input name="query"
             ng-model="options.search"
             ng-change="search()"
             ng-model-options="{debounce: 400}" />
    </md-input-container>
  </div>

  <div show-progress="fetching"></div>

  <div layout="row" layout-padding>
    <md-list flex ng-if="events.length">
      <md-list-item class="md-3-line md-long-text" ng-repeat="event in events">
        <div class="md-list-item-text">
          <h3> {{event.attrs.name | truncate:true:75}} </h3>
          <h4> {{event.attrs.start_time | dateFilter}} </h4>
          <p sanitized="event.attrs.description | truncate:true:150" flex="75"></p>
          
          <div class="md-secondary">
            <md-button
                class="md-fab md-primary md-hue-2 md-mini"
                ng-if="!event.belongsToCurrentUser"
                ng-click="addToCalendar(event)"
                aria-label="Add to calendar">

              <md-tooltip>Add To Calendar</md-tooltip>
              <md-icon>add</md-icon>
            </md-button>

            <md-button
                class="md-fab md-hue-2 md-mini"
                ng-if="event.belongsToCurrentUser"
                ng-click="removeFromCalendar(event)">

              <md-tooltip>Remove From Calendar</md-tooltip>
              <md-icon>remove</md-icon>
            </md-button>

          </div>
        </div>

        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>

    <md-content
        flex
        ng-if="events && !events.length">
      <p> Sorry! No results match your search. </p>
    </md-content>
  </div>
</section>
