<div toolbar-navigation allow-search="true"></div>

<md-content flex md-scroll-y>
  <md-card class="push-none">
    <md-card-content class="pad-none">
      <div layout="row"
           layout-align="space-between center">
        <md-button class="md-primary day-toggle-btn"
                   ng-disabled="!options.hasFetched"
                   mwl-date-modifier
                   date="calendarDate"
                   decrement="calendarView">
          <md-icon>keyboard_arrow_left</md-icon>
        </md-button>

        <div>
          <span class="md-title">{{calendarTitle}}</span>

          <md-datepicker class="day-datepicker"
                         ng-model="calendarDate"
                         md-placeholder="{{calendarTitle}}"
                         ng-disabled="!options.hasFetched">
          </md-datepicker>
        </div>

        <md-button class="md-primary day-toggle-btn"
                   ng-disabled="!options.hasFetched"
                   mwl-date-modifier
                   date="calendarDate"
                   increment="calendarView">
          <md-icon>keyboard_arrow_right</md-icon>
        </md-button>
      </div>
    </md-card-content>
  </md-card>

  <div show-progress="options.fetching"
       ng-if="options.fetching"
       class="push-top">
  </div>

  <mwl-calendar view="calendarView"
                fetching="options.fetching"
                has-fetched="options.hasFetched"
                view-date="calendarDate"
                events="events"
                view-title="calendarTitle"
                on-event-click="eventClicked(calendarEvent)"
                on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                on-edit-event-click="eventEdited(calendarEvent)"
                on-delete-event-click="eventDeleted(calendarEvent)"
                cell-is-open="true">
  </mwl-calendar>
</md-content>
