<section id="home">
  <div layout="row"
       layout-align="center none">
    <md-input-container
        class="md-block push-top-xl"
        flex="90">

      <label>Search for an event near you</label>
      <input name="query"
             ng-model="options.search"
             ng-change="search()"
             ng-model-options="{debounce: 400}" />
    </md-input-container>
  </div>

  <div show-progress="fetching"></div>

  <div layout="row">
    <md-list
        flex
        ng-if="events.length">

      <md-list-item class="md-3-line md-long-text" ng-repeat="event in events">
        <div class="md-list-item-text">
          <h3> {{event.attrs.name | truncate:true:75}} </h3>
          <h4> {{event.attrs.start_time | dateFilter}} </h4>
          <p sanitized="event.attrs.description | truncate:true:150" flex="75"></p>
          
          <md-button
              class="md-secondary"
              ng-if="!event.belongsToCurrentUser"
              ng-click="addToCalendar(event)">
            Add To Calendar
          </md-button>

          <md-button
              class="md-secondary"
              ng-click="goTo('/calendar')"
              ng-if="event.belongsToCurrentUser">
            View
          </md-button>
        </div>
      </md-list-item>
    </md-list>

    <md-content
        flex
        ng-if="events && !events.length">
      <p> Sorry! No results match your search. </p>
    </md-content>
  </div>
</section>
