<div class="cal-day-box">
  <div class="clearfix" ng-style="{height: vm.dayViewHeight + 'px'}">
    <md-list flex ng-if="vm.view.length">
      <md-list-item class="md-3-line"
                    ng-click="null"
                    ng-repeat="event in vm.view track by event.$id">

        <div flex="15">
          {{event.startsAt | dateFilter:'timeOnly'}}
        </div>

        <div class="md-list-item-text">
          <h3>{{event.name | truncate:true:75}}</h3>
          <h4>{{event.venueName}}</h4>
          <p>{{event.venueLocation.city}}, {{event.venueLocation.state}}</p>

          <div class="md-secondary">
            <md-button class="md-fab md-primary md-hue-2 md-mini"
                       ng-if="!event.belongsToCurrentUser"
                       ng-click="addToCalendar(event)"
                       aria-label="Add to calendar">

              <md-tooltip>Add To Calendar</md-tooltip>
              <md-icon>add</md-icon>
            </md-button>

            <md-button class="md-fab md-hue-2 md-mini"
                       ng-if="event.belongsToCurrentUser"
                       ng-click="removeFromCalendar(event)">

              <md-tooltip>Remove From Calendar</md-tooltip>
              <md-icon>remove</md-icon>
            </md-button>

          </div>
        </div>

        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>

    </md-list>


    <p class="md-body-1 push-top-lg text-center"
       ng-if="hasFetched && !fetching && vm.view && !vm.view.length">
      Nothing's happening today. Try modifying your search or looking at a future date.
    </p>

  </div>

</div>
