<div toolbar-navigation></div>

<md-content flex md-scroll-y>
  <div class="push-none" layout="row">
    <span flex></span>
    <div layout-align="center center">
      <md-button class="push-none md-primary"
                 mwl-date-modifier
                 date="calendarDate"
                 decrement="calendarView">
        <md-icon>keyboard_arrow_left</md-icon>
      </md-button>

      <span class="md-title">{{calendarTitle}}</span>

      <md-button class="push-none md-primary"
                 mwl-date-modifier
                 date="calendarDate"
                 increment="calendarView">
        <md-icon>keyboard_arrow_right</md-icon>
      </md-button>
    </div>

    <!-- <div class="text-right" layout-align="end start" flex>
      <md-button ng-repeat="option in calendarViewOptions"
                 ng-class="{'md-primary': calendarView == option}"
                 class="push-none pad-none"
                 ng-click="toggleView(option)">{{option}}
      </md-button>
    </div> -->

    <div layout-align="end center" class="text-right" flex>
      <md-button class="push-none md-primary"
                 mwl-date-modifier
                 date="calendarDate"
                 set-to-today>
        Today
      </md-button>
    </div>
  </div>

  <mwl-calendar
      view="calendarView"
      view-date="calendarDate"
      events="collection"
      view-title="calendarTitle"
      on-event-click="eventClicked(calendarEvent)"
      on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
      on-edit-event-click="eventEdited(calendarEvent)"
      on-delete-event-click="eventDeleted(calendarEvent)"
      cell-is-open="true">
  </mwl-calendar>
</md-content>
