.cal-day-box
  .event-add-to-calendar
    background-color: #8BC34A
    
  .event-details
    padding-top: 0
    min-width: 78px
    padding: 16px $spacing-xs

  .event-time,
  .event-distance
    margin-bottom: $spacing-xxs
    padding: 0


  .event-time
    line-height: 14px

  .event-distance
    line-height: 10px

.day-toggle-btn
  margin: 0
  padding: 0

  .material-icons
    font-size: 28px
    height: 28px
    width: 28px

.day-datepicker[disabled]
  .md-datepicker-triangle-button
    display: block

  .md-datepicker-expand-triangle
    border-top-color: #BBBBBB

.day-datepicker
  // Change color of caret
  .md-datepicker-expand-triangle
    border-top-color: #03A9F4

  // calendar icon and actual input
  .md-datepicker-button,
  .md-datepicker-input
    display: none

  // fixes spacing issue between open/close
  .md-datepicker-input-container
    border: none

  // positioning of triangle button
  .md-datepicker-triangle-button
    padding: 0
    margin: 0
    top: -12px
    left: -28px

  // Fix position of triangle button when datepicker is open
  &.md-datepicker-open
    .md-datepicker-input-container
      // fixes spacing issue
      margin-left: 12px

    .md-datepicker-triangle-button
      display: inline-block
