<md-toolbar ng-show="showSearch">
  <div class="md-toolbar-tools">
    <md-button ng-click="showSearch = !showSearch"
               class="md-icon-button push-none pad-none"
               aria-label="Back">
      <md-icon>arrow_back</md-icon>
    </md-button>
    <md-input-container flex class="pad-left pad-right-sm">
      <label>&nbsp;</label>
      <input class="push-top-sm"
             ng-model="search.who"
             placeholder="Search for events near you">
    </md-input-container>
    <md-button aria-label="Search"
               class="md-icon-button push-none pad-none"
               ng-click="showSearch = !showSearch">
      <md-icon>search</md-icon>
    </md-button>

    <md-menu>
      <md-button aria-label="Open Settings"
                 class="md-icon-button push-none pad-none"
                 ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="link in optionLinks">
          <md-button ng-click="link.fn()">
            <span md-menu-align-target>{{link.title}}</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
