<section id="settings">
  <div layout="row"
       layout-padding
       layout-fill
       layout-align="center none">

    <div show-progress="loadingUser"></div>

    <form name="settingsForm" ng-if="!loadingUser" novalidate>
      <div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>City</label>
          <input ng-model="user.location.city"
                 ng-model-options="{debounce: 500}">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>State</label>
          <md-select ng-model="user.location.state">
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </form>
  </div>
</section>
